extends layout

block content
  h1= title
  p Welcome to #{title}
  if user
    div.
      #{user.fullname}
    a(href='users/logout').
      Logout
  else
    div.
      Please login first
    a(href='users/login').
      Login using app.
    br
    br
    a(href='/fb-login').
      Login using FB.
    br
    br
    a(href='/twit-login').
      Login using Twitter.
